<div class="container">
  <div class="row">
    <h4 class="d-flex justify-content-between align-items-center">
      <span class="text-primary">All Categories</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between">
        <h6 class="">Bread</h6>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <h6 class="">Dairy</h6>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <h6 class="">Fruits</h6>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <h6 class="">Seasonings and Spices</h6>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <h6 class="">Vegestables</h6>
      </li>
    </ul>
  </div>
</div>
