/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.list-and-category {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
