.box {
  background-color: gray;
  border-radius: 3px;
  color: white;
  height: 2rem;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.icon-container {
  height: 2rem;
}

.qty {
  width: 100%;
}
